user-dirs.locale
user-dirs.dirs 
mirage 
ibus 
go 
dconf 
gtk-3.0 
gtk-4.0 
session 
trashrc
yay
mimeapps.list
dolphinrc
.gsd-keyboard.settings-ported
Code - OSS/
mozilla
zen
net.imput.helium
hayase
pulse
nvm
Electron
Postman
htop
libreoffice
pgadmin4
mimeapps.list
zen
dconf
go
gtk-3.0
pulse
yay
systemd
