 * {
    font-family: "AdwaitaMono";
    border: none;
    border-radius: 0px;
}

window#waybar {
    background:transparent;
}

.modules-left {
    background-color: #1a110f;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(#1a110f),0.9), alpha(#1a110f,0.9)) padding-box,
        linear-gradient(#ffb59d,#55200c) border-box;
    border: 2px solid transparent;	
    opacity:0.8;
    padding:0px;
    box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.2);
}

.modules-right {
    background-color: #1a110f;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(#1a110f),0.9), alpha(#1a110f,0.9)) padding-box,
        linear-gradient(#ffb59d,#55200c) border-box;
    border: 2px solid transparent;	
    opacity:0.8;
    padding:0px;
    box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.3);
}

.modules-center {
    background-color: #1a110f;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(#1a110f),0.9), alpha(#1a110f,0.9)) padding-box,
        linear-gradient(#ffb59d,#55200c) border-box;
    border: 2px solid transparent;	
    opacity:0.8;
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.2);
}

label.module {
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    padding: 3px;
    min-width: 176px;
}

#workspaces button {
    color: #f1dfda;
    border-radius: 3px;
    padding:0px 5px 0px 5px;
    margin:0px 2px 0px 2px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
}

#workspaces button.active {
    background:alpha(#ffb59d,0.2);
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    min-width: 30px;
    border-radius: 8px;
    box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8);
}

#workspaces button:hover {
    background:alpha(#e7bdb0,0.2);
    border-radius: 15px;
}

/* -----------------------------------------------------
 * App Launcher
 * ----------------------------------------------------- */

#custom-appmenu {
		color: #f1dfda;
}

#custom-appmenu:hover {
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
		color: #f1dfda;
    margin-left: 12px;
    margin-right: 12px;
}

#clock:hover {
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
	color: #f1dfda;
}

#backlight:hover {
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
	color: #f1dfda;
}

#pulseaudio:hover {
}

#pulseaudio.muted {
	color: #9FF527;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
	color: #f1dfda;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
	color: #f1dfda;
}

#battery.charging, #battery.plugged {
	color: #9FF527;
}

#battery.full {
	color: #91FFFD;
}

@keyframes blink {
    to {
        background-color: #1a110f;
        color: #f1dfda;
    }
}

#battery.critical:not(.charging) {
	color: #FC2323;
	animation: 1s linear 0s infinite alternate blink;
}

